#box{
  width: 250px;
  margin: 25px;
  border: 0.3px solid;
  padding: 10px;
  box-shadow: 2px 5px 4px 5px #888888;
    background: linear-gradient(143.04deg, #FF0F52 -86.84%, rgba(26, 20, 59, 0) 68.79%);

}

#largeBox{
  width: 570px;
  margin: 25px;
  border: 0.3px solid;
  padding: 10px;
  box-shadow: 2px 5px 4px 5px #888888;
    background: linear-gradient(143.04deg, #FF0F52 -86.84%, rgba(26, 20, 59, 0) 68.79%);

}